@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: royalblue;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    min-height: 50%;
    min-width: 50%;
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    margin: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
}

.author {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
}

.quote {
    font-size: 5rem;
    color: royalblue;
}

.anotherBtn {
    background-color: rgb(0, 0, 49);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    transition: all 0.3s;
}

.anotherBtn:hover {
    background-color: royalblue;
}
